header {
  padding: 60px;
  width: auto;
  text-align: center;
  font-style: italic;
  color: black;
  font-size: 30px;
}
ul {
	list-style-type: none;
}
.recipe-list > ul  {
  display: flex;
  margin: auto ;
 
}
li { 
	margin: auto 50px;
 }

.btn{
	padding: 14px 40px;
	margin-bottom: 50px
	margin-top: 50px;
	border-radius: 20px;
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
 }
.overlay{
	visibility: hidden;
	background-color: black;
}
.content{
	visibility: hidden;
}
.overlay.active { 
	visibility: visible;

 }
 .content.active {
 	visibility: visible;
 }


	