header {
  padding: 60px;
  width: auto;
  text-align: center;
  font-style: italic;
  color: black;
  font-size: 30px;
}
ul {
	list-style-type: none;
}
.recipe-list > ul  {
  display: flex;
  margin: auto ;
 
}
li { 
	margin: auto 50px;
 }

.btn{
	padding: 14px 40px;
	margin-bottom: 50px
	margin-top: 50px;
	border-radius: 20px;
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
 }
#popup.active{
	visibility: visible;
	background-color: black;
	width:100%;
	height: 100%
	z-index: 1;
	
}
.content.active{
	visibility: visible;
	width: 75%;
	height: 75%;
	z-index: 2;
}
/*.overlay.active { 
	visibility: visible;

 }
 .content.active {
 	visibility: visible;
 }
*/

	